/* ==========================================================================
   Variables & Mixins
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}
html,
body {
  position: relative;
  min-width: 780px;
  background-image: url(../img/alexis.png), url(../img/drew.png);
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
/**************/
/* Navigation */
/**************/
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  display: inline;
  height: 40px;
}
.navbar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#222222), to(#333333));
  background-image: -webkit-linear-gradient(top, #222222, 0%, #333333, 100%);
  background-image: -moz-linear-gradient(top, #222222 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #333333 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff333333', GradientType=0);
  border: 0;
  border-bottom: 2px solid #a23131;
  box-shadow: inset 0 -2px 0 -1px #ff0000, 0 1px 0 #690000;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
ul.nav {
  border-left: 1px solid #000;
  border-right: 1px solid #444;
}
ul.nav li a {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  text-shadow: 1px 1px 1px #000;
}
ul#main-nav > li > a {
  border-left: 1px solid #444;
  border-right: 1px solid #000;
}
ul.dropdown-menu {
  text-align: center;
}
a.navbar-brand {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000000), to(#222222));
  background-image: -webkit-linear-gradient(top, #000000, 0%, #222222, 100%);
  background-image: -moz-linear-gradient(top, #000000 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff222222', GradientType=0);
  box-shadow: inset 0 -2px 0 -1px #ff0000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.navbar-brand:hover {
  text-shadow: 0 0 10px #333;
}
a.navbar-brand span {
  display: none;
}
p.navbar-text {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 14px;
  margin: 15px 15px;
  text-shadow: 2px 2px 2px #000;
}
ul.nav.navbar-right {
  border-left: 0;
  border-right: 0;
}
.navbar-nav > li > a.navbar-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
  border-radius: 20px;
  background: #a23131;
  border: 2px solid #f5f5f5;
  box-shadow: 2px 2px 2px #000;
}
.navbar-nav > li > a.navbar-btn:hover {
  background: #cb5454;
}
/**********/
/* Alerts */
/**********/
.alert {
  margin-bottom: 0;
}
.alert-dismissable .close {
  opacity: 0.5;
  font-size: 35px;
  top: -8px;
}
/******************/
/* Streams & Chat */
/******************/
#streams-wrapper {
  position: relative;
  width: 100%;
}
.layoutElement {
  position: absolute;
}
#chatnav {
  position: absolute;
  min-height: 0;
}
#chatnav ul li a {
  font-size: 12px;
  padding: 10px 15px;
}
/****************/
/* Content Tabs */
/****************/
#content-nav {
  margin-top: 5px;
  margin-left: 5px;
}
#content-nav > li > a {
  border-left: 1px solid #b63737;
  border-right: 1px solid #541919;
  border-top: 1px solid #cb5454;
  background-image: -webkit-gradient(linear, left 50%, left 100%, from(#671f1f), to(#541919));
  background-image: -webkit-linear-gradient(top, #671f1f, 50%, #541919, 100%);
  background-image: -moz-linear-gradient(top, #671f1f 50%, #541919 100%);
  background-image: linear-gradient(to bottom, #671f1f 50%, #541919 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff671f1f', endColorstr='#ff541919', GradientType=0);
}
#content-nav li a:hover,
#content-nav li a.active {
  background: #a23131;
}
/****************/
/* Info Section */
/****************/
#info-content {
  margin-top: 20px;
  padding-top: 20px;
}
#donate-widget {
  border: 3px solid #a23131;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
}
#info-banners {
  width: 310px;
  float: left;
  margin-top: -23px;
}
#info-video {
  padding-top: 100px;
  margin-left: 325px;
}
#info-text h1 {
  text-align: center;
  font-size: 66px;
  margin-bottom: 0;
  border-bottom: 1px solid #000;
}
#info-text p {
  font-size: 16px;
  font-weight: 300;
  color: #ccc;
}
.videoWrapper {
  background: #000;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */

  padding-top: 25px;
  height: 0;
  z-index: 10;
  box-shadow: 5px 5px 15px #000;
  border: 3px solid #a23131;
  border-radius: 3px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.row-buffer {
  margin-top: 25px;
}
/*****************/
/* Index Section */
/*****************/
#stream-index {
  margin-top: 20px;
  padding-top: 20px;
}
#stream-index h2 {
  margin-top: 2px;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 23px;
}
#stream-index .btn-default {
  color: #f5f5f5;
  background: #a23131;
}
#stream-index .btn-default:hover {
  background: #c54141;
}
#stream-index .btn-donate {
  box-shadow: 2px 2px 2px #000;
}
#stream-index .btn-group {
  box-shadow: 2px 2px 2px #000;
}
#stream-index .row-buffer {
  margin-top: 50px;
}
.profile-pic {
  position: absolute;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  box-shadow: 1px 1px 1px #000;
  top: 2px;
  left: 6px;
  z-index: 2;
}
.live {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 16px;
  color: #333;
  text-shadow: 0 1px 0px #444;
}
.live.on-air {
  color: #a23131;
  text-shadow: 0 0 10px #a23131;
  font-weight: 700;
}
.stream-pic {
  position: relative;
  margin-top: 20px;
  border: 2px solid #a23131;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000;
  opacity: 0.5;
  z-index: 1;
}
.stream-pic.on-air {
  opacity: 1.0;
}
.index-entry {
  margin-bottom: 50px;
}
/**********/
/* Footer */
/**********/
#footer {
  margin-top: 200px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#222222), to(#333333));
  background-image: -webkit-linear-gradient(top, #222222, 0%, #333333, 100%);
  background-image: -moz-linear-gradient(top, #222222 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #333333 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff333333', GradientType=0);
  border-top: 2px solid #a23131;
  box-shadow: inset 0 2px 0 -1px #ff0000, 0 -1px 0 #690000;
  height: 100px;
}
h2.ddp {
  margin: 12px 0 0;
  font-size: 68px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #111;
  text-shadow: 0px 1px 1px #444;
}
/* Landscape phones and down */
@media only screen and (min-width: 481px) {
  
}
/* Landscape phone to portrait tablet */
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 980px) {
  .navbar-default p.navbar-text {
    font-size: 17px;
    margin: 13px 15px;
  }
  a.navbar-brand span {
    display: inline;
  }
  #info-video {
    padding-top: 45px;
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  #info-video {
    padding-top: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
